@charset "UTF-8";
.html-form {
  height: 100%;
}
.html-form body {
  background: linear-gradient(0deg, rgba(74, 74, 74, 0.3) 100%, rgb(228, 255, 198) 100%), url("../Vinilo económicos para decoración, Decoravinilos_ Vinilos baratos Murcia.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
.html-form body header {
  background-color: rgba(74, 74, 74, 0.9);
  margin: 0px;
  height: 50px;
}
.html-form body header h1 {
  color: #e4ffc6;
  margin-left: 5%;
  font-family: "Sigmar", cursive;
  font-size: 30px;
  margin-bottom: 0px;
  padding: 10px;
  position: relative;
  left: 5%;
}
.html-form body main {
  height: 74.2%;
}
.html-form body main .main-config {
  display: flex;
  justify-content: center;
  padding: 2%;
  align-items: start;
}
.html-form body main .main-config div h1 {
  color: #e4ffc6;
  margin-left: 5%;
  font-family: "Sigmar", cursive;
  font-size: 25px;
  margin-bottom: 0px;
}
.html-form body main .main-config .medioPago-cerrarSesion {
  display: flex;
  border: 2px solid black;
  flex-direction: column;
  border: transparent solid 1px;
  border-radius: 5%;
  gap: 25px;
  background-color: rgba(74, 74, 74, 0.95);
  padding: 1%;
  width: 32%;
}
.html-form body main .main-config .medioPago-cerrarSesion .primer-ajuste-usuario {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 4%;
  white-space: nowrap;
  padding: 2%;
  justify-content: center;
}
.html-form body main .main-config .medioPago-cerrarSesion .primer-ajuste-usuario div {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #576c89;
  border-radius: 5%;
  padding: 10px;
}
.html-form body main .main-config .medioPago-cerrarSesion .primer-ajuste-usuario div h3 {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  color: #e4ffc6;
}
.html-form body main .main-config .medioPago-cerrarSesion .primer-ajuste-usuario div button {
  background-color: rgb(74, 74, 74);
  border: #576c89 solid 1px;
  border-radius: 12%;
  color: #e4ffc6;
}
.html-form body main .main-config .medioPago-cerrarSesion .primer-ajuste-usuario div:hover {
  background-color: #e4ffc6;
}
.html-form body main .main-config .medioPago-cerrarSesion .primer-ajuste-usuario div:hover h3 {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  color: #576c89;
  font-weight: 600;
}
.html-form body main .main-config .medioPago-cerrarSesion .primer-ajuste-usuario div:hover button {
  background-color: rgb(74, 74, 74);
  border: #576c89 solid 1px;
  border-radius: 12%;
  color: #e4ffc6;
}
.html-form body main .main-config .medioPago {
  display: flex;
  border: 2px solid black;
  flex-direction: column;
  border: transparent solid 1px;
  border-radius: 5%;
  gap: 25px;
  background-color: rgba(74, 74, 74, 0.95);
  padding: 1%;
  width: 37%;
}
.html-form body main .main-config .medioPago .opcionesTarjeta {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 4%;
  white-space: nowrap;
  padding: 2%;
  justify-content: center;
}
.html-form body main .main-config .medioPago .opcionesTarjeta div {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #576c89;
  border-radius: 5%;
  padding: 10px;
}
.html-form body main .main-config .medioPago .opcionesTarjeta div h3 {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  color: #e4ffc6;
}
.html-form body main .main-config .medioPago .opcionesTarjeta div button {
  background-color: rgb(74, 74, 74);
  border: #576c89 solid 1px;
  border-radius: 12%;
  color: #e4ffc6;
}
.html-form body main .main-config .medioPago .opcionesTarjeta div:hover {
  background-color: #e4ffc6;
}
.html-form body main .main-config .medioPago .opcionesTarjeta div:hover h3 {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  color: #576c89;
  font-weight: 600;
}
.html-form body main .main-config .medioPago .opcionesTarjeta div:hover button {
  background-color: rgb(74, 74, 74);
  border: #576c89 solid 1px;
  border-radius: 12%;
  color: #e4ffc6;
}
.html-form body main .main-config .disable-MPCS {
  display: none;
}
.html-form body footer {
  background-color: rgba(74, 74, 74, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.html-form body footer .div-logos {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: flex-start;
  margin: 1%;
  gap: 3%;
  color: white;
  cursor: pointer;
  font-size: 1.5em;
  font-weight: lighter;
}
.html-form body footer .div-enlaces {
  display: grid;
  width: 50%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  margin: 1%;
}
.html-form body footer .div-enlaces a {
  color: white;
  text-decoration: none;
  font-size: 1em;
  margin: 1%;
}
.html-form body footer .div-enlaces a:hover {
  text-decoration: underline;
}

html {
  overflow-x: hidden;
}

/*# sourceMappingURL=style.css.map */
